<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nexzen.sycongsm">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/gsm_2300"
        android:label="@string/app_name"
        android:roundIcon="@drawable/gsm_2300"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".ScheduleSMS"
            android:exported="false"/>

        <receiver android:name=".GetAndVerifyRegistrationSMS"
            android:enabled="true"
            android:exported="true"
            >
            <intent-filter android:priority="1000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".GetMotorStatusSMS"
            android:enabled="true"
            android:exported="true"
            >
            <intent-filter android:priority="1000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".RegistrationActivity"
            android:label="@string/title_activity_registration"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DashboardActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ServicesActivity"
            android:label=""
            android:parentActivityName=".DashboardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InstructionActivity"
            android:label=""
            android:parentActivityName=".DashboardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProcedureActivity"
            android:label=""
            android:parentActivityName=".DashboardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ConatctActivity"
            android:label=""
            android:parentActivityName=".DashboardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MySheduleActivity"
            android:label=""
            android:parentActivityName=".DashboardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ScheduleActivity"
            android:label=""
            android:parentActivityName=".DashboardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BackCallActivity"
            android:label=""
            android:parentActivityName=".DashboardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>